/* THIS IS FOR MAIN CLASSES OF ELEMENTS */
body{
    width: 100vw;
    height: 100px;
    margin: 0;
    background-color: #FEFAE0;
}

input{
    font-family: Bebas;
    border-radius: 5px;
    border: 0px;
    padding: 5px;

    font-size: 35px;
}

button{
    height: auto;
    width: 100px;
    padding: 5px;
    background-color: #A4B465;
    border-radius: 5px;
    border: 0px;

    font-family: Bebas;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

h2{
    font-family: Bebas;
    font-size: 50px;

    margin: 0px;
    width: fit-content;
    align-self: center;

    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    padding: 5px;
    align-self: center;
}

/* THIS IS FOR CUSTOM CLASSES */
.container {
    display: flex;
    width: 100vw;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    width: 100vw;
    height: 75px;

    background-color: #626F47;
    margin: 0px;
}

.nav-left{
    flex: 1;
}

.nav-mid{
    flex: 1;
}

.nav-right{
    flex: 1;
}

.logo{
    height: 50px;
}

/* HERO */
.hero-container{
    background-color: #A4B465;
    border-radius: 15px;
    height: 90%;
    width: 95%;
}
